_build/
.buildinfo
*.pyc
.idea/
.ipynb_checkpoints
*.bak
scale_disp_dat
.cache
.coverage
lspost.*
nodes.dyn
elems.dyn
bc.dyn
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
d3*
nodout
.venv/
.pytest_cache/
build/
dist/
fem.egg-info
.venv/
Pipfile.lock
.vscode/
*.so
