[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
h5py = "*"
ipython = "*"
matplotlib = "*"
numpy = "*"
pytest = "*"
pytest-cov = "*"
pytest-pep8 = "*"
pyevtk = "*"
scipy = "*"
sphinxcontrib-napoleon = "*"
Sphinx = "*"
pyyaml = "*"
atomicwrites = "*"

