[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyterlab = "*"

[packages]
fem = {editable = true,path = "."}
jupyter = "*"
pylint = "*"
pytest = "*"
pytest-pep8 = "*"
pytest-cov = "*"
ipython = "*"
sphinx = "*"
sphinxcontrib-napoleon = "*"

[requires]
python_version = "3.8"
