numpy==1.10.4
scipy==0.16.1
apipkg==1.4
coverage==4.0.3
cycler==0.9.0
decorator==4.0.6
execnet==1.4.1
ipython==4.0.3
ipython-genutils==0.1.0
path.py==8.1.2
pep8==1.7.0
pexpect==4.0.1
pickleshare==0.6
pip-review==0.4
powerline-status==2.3
ptyprocess==0.5
py==1.4.31
pyflakes==1.0.0
pyparsing==2.0.7
pytest==2.8.7
pytest-cache==1.0
pytest-cov==2.2.1
pytest-flakes==1.0.1
pytest-pep8==1.0.6
python-dateutil==2.4.2
pytz==2015.7
simplegeneric==0.8.1
six==1.10.0
traitlets==4.1.0
wheel==0.26.0
